.menu {
  box-sizing: border-box;
  border-radius: 9999px;

  background-color: rgba(36, 38, 38, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

  position: fixed;
  bottom: 20px;
  left: 12px;
  right: 12px;
  margin: 0 auto;
  padding: 12px 40px;

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
  }

  &__icon {
    display: flex;
    width: 24px;
    height: 24px;
  }

  &__label {
    &--active {
      color: #2560ff;
    }
  }
}
