.card {
  box-sizing: border-box;
  width: 100%;
  display: block;
  max-width: 232px;

  padding: 8px 8px 12px;
  border-radius: 12px;

  background-color: rgba(60, 60, 65, 0.6);

  text-decoration: none;
  color: inherit;

  -webkit-tap-highlight-color: transparent;
  outline: none;

  transition: transform 0.3s ease;

  &--active {
    transform: scale(0.97);
  }
}

.imageWrapper {
  position: relative;

  margin-bottom: 12px;
}

.image {
  width: 216px;
  display: flex;
  border-radius: 12px;
}

.favButton {
  position: absolute;
  border: transparent;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(145, 141, 142, 0.9);
  border-radius: 9999px;
  width: 36px;
  height: 36px;
  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
  outline: none;

  &:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.category {
  display: inline-flex;
  align-items: center;
  padding: 4px 16px;
  border-radius: 9999px;
  background-color: rgba(46, 47, 52, 0.8);
  font-size: 12px;
  color: #a0a0b0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;

  margin-bottom: 20px;

  &:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.address {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 16px;

  .icon {
    width: 24px;
    flex-shrink: 0;
    margin-top: 2px;
  }

  .text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
  }

  .street {
    font-size: 16px;

    text-decoration: none;
    color: inherit;
  }

  .city {
    font-weight: 400;
    font-size: 12px;
    color: #889;
  }
}

.details {
  margin-bottom: 16px;
  font-size: 12px;
  color: #889;

  display: flex;
  gap: 16px;

  &__square {
    font-size: 14px;
    line-height: 1;
  }

  &__rooms {
    position: relative;

    &::after {
      position: absolute;
      content: '|';
      left: calc((100% + 8px));
    }
  }
}

.price {
  margin-bottom: 24px;
  color: #2560ff;

  text-transform: uppercase;
  display: flex;
  gap: 16px;

  &__usdt {
    position: relative;

    &::after {
      position: absolute;
      content: '|';
      left: calc((100% + 8px));
    }
  }
}

.date {
  color: #889;
  font-size: 10px;
}

.details__square sup {
  font-size: 0.6em;
  vertical-align: super;
}
