.sliderSection {
  &__head {
    padding-inline: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  &__icon {
    display: block;
    cursor: pointer;
  }

  &__sliderWrapper {
    padding-left: 12px;
  }

  &__link {
    -webkit-tap-highlight-color: transparent;
    outline: none;

    &:active {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
    }
  }
}
