.header {
  max-width: 1440px;
  padding: 4px 12px;
  margin: 0 auto;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logoLink {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 0.1cap;
  }

  &__side {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__notificationButton {
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212b39;
    border-radius: 9999px;
    width: 100%;
    height: 100%;
    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
    outline: none;

    &:active {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 9999px;
    }
  }
}
