body {
  background-image: url('../public/img/body-bg.webp');

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: white;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0;
}
