.slider {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

  &__track {
    display: flex;
    gap: 12px;
  }

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 12px;
  }

  &__item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    
  }
}
